* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

.sidebar {
    width: 300px;
}

.main {
    flex-grow: 1;
}

.todo-container{
    display: flex;
    flex-grow: 1;
}

.todo-list {
    flex-grow: 1;
}
